<body>
	<h1>My Blog Site</h1>
	<h1>About Me</h1>
	<h2>
		I'm Binit and I love writing about tech and mainly web development. This is
		a site built with Astro which makes building Static Sites like blog super
		simple and easy
	</h2>
	<p>
		This is just the tutorial I'm going through. I'll add more stuff here once I
		learn it
	</p>
</body>
